@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*{
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    text-decoration: none;
}

body{
    background-color: #222222;
    font-size: 100%;
}

main{
    background-color: #ededed;
    width: 560px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px #ffffff;
}

h1{
    font-size: 32px;
    font-weight: 800;
}

.logo{
    width: 50px;
    height: 50px;
}

h2{
    font-size: 24px;
    font-weight: 600;
}

.link{
    font-weight: 700;
}

.img{
    width: 75px;
    height: 75px;
    float: right;
}